
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
.btn-1, .btn-2{
  border: 1px solid transparent;
  font-size: 20px;
  font-weight: 700;
  background-color: #1a1a1a;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: border-color 0.25s;
}
.btn-1{
  margin-right: 20px;
  padding: 10px 18px;
}
.btn-2{
  padding: 10px 21px;
}